body {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    margin-bottom: 0;
}

p {
    text-align: center;
    line-height: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.button {
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px;
    margin-top: 25px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(252, 213, 255);
}

.active {
    background-color: rgb(252, 213, 255);
}